.slider.myslider
  %div
    =link_to "#" do
      =image_tag("carousel.jpg")
  %div
    =link_to "#" do
      =image_tag("carousel.jpg")
  %div
    =link_to "#" do
      =image_tag("carousel.jpg")
.container
  .thumb-container
    = render @songs
