-if !user_signed_in?
  = button_to "お気に入り", 'javascript:void(0)', class: "btn btn-lg btn-default"
-elsif current_user.f_albums.find_by(id:album.id)
  = button_to "お気に入り中", fav_album_path(album), method: :delete, remote: true, class: "btn btn-lg btn-default"
-else
  = button_to "お気に入り", fav_albums_path(album), method: :post, remote: true, class: "btn btn-lg btn-default"
