.thumb
  %figure
    = link_to album_path(album) do
      =image_tag(album.album_image.url,class:"thumb_image")
      %figcaption
        = image_tag(album.album_image.url,class:"thumb_image thumb_caption")
  %h6= link_to album.name, album_path(album)
  %h6= link_to album.artist.name, artist_path(album.artist),class:"gray"
