@import "bootstrap-sprockets";
@import "bootstrap";
@import "font";
@import "header";
@import "caption";
@import "slick/slick";
@import "slick/slick-theme";
@import "myslick";
@import "show";
@import "footer";
@import "devise";
@import "ranking";

//ヘッダーを常に上で固定
body {
    padding: 109px 0 52px 0;
}

//デフォルトのaタグの色を全部黒に設定
a:link { color: #000000; }
a:visited { color: #000000; }
a:hover { color: #000000; }
a:active { color: #000000; }

//曲一覧テーブルの各曲の上をホバーすると色が変わる
tr:hover { background: #EEEEEE; }
