//参考 https://liginc.co.jp/web/html-css/css/21024
.thumb-container{
  width: 996px; //containerクラスと同じwidthを設定
  position: relative;
  left: -26px;  //サムネイルの左マージン分ずらす
  .thumb{
    margin-top: 29px;
    margin-left: 26px;
    float: left;
    width: 140px;
  }
  //横長のサムネ
  .new_thumb{
    float: left;      //各サムネイルの横並び
    margin-top: 20px;
    margin-left: 26px;
    width: 306px;
    display: flex;    //写真の横に曲の情報を表示
    figure{
      width: 70px;
      margin-right: 12px;
      figcaption{
        width: 70px;
      }
    }
    .info{
      display: flex;
      align-items: center;
      h6{
        margin: 0;
        margin-bottom: 5px;
      }
    }
  }
  //みんなのプレイリストのサムネ
  .playlist_thumb{
    float: left;      //各サムネイルの横並び
    margin-top: 20px;
    margin-left: 26px;
    width: 306px;
    height: 180px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    border: 1px solid #e5e5e5;
    display: flex;
    .flex-column{
      display: flex;
      flex-direction: column;
      .title{
        width: 100%;
        height: 30px;
      }
      .user{
        width: 100%;
        height: 30px;
        font-size: 13px;
      }
      .favorite{
        width: 100%;
        height: 19px;
        margin-bottom: 5px;
      }
      .list_thumb{
        width: 274px;
        height: 70px;
        display: flex;
        position: relative;
        .thumb_image1{
          width: 70px;
          height: 70px;
          z-index: 4;
          img{
            width: 100%;
            height: auto;
          }
        }
        .thumb_image2{
          position: absolute;
          left: 51px;
          width: 70px;
          height: 70px;
          z-index: 3;
          img{
            width: 100%;
            height: auto;
          }
        }
        .thumb_image3{
          position: absolute;
          left: 102px;
          width: 70px;
          height: 70px;
          z-index: 2;
          img{
            width: 100%;
            height: auto;
          }
        }
        .thumb_image4{
          position: absolute;
          left: 153px;
          width: 70px;
          height: 70px;
          z-index: 1;
          img{
            width: 100%;
            height: auto;
          }
        }
        .thumb_image5{
          position: absolute;
          left: 204px;
          width: 70px;
          height: 70px;
          z-index: 0;
          img{
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
//キャプション 参考 http://www.nxworld.net/tips/css-only-caption-effect.html#anchor01
figure {
  position: relative;
  overflow: hidden;
  width: 142px;
  &.figure_ranking{
    width: 35px;
  }
  //サムネイル画像
  .thumb_image{
    width: 100%;
    height: auto;
    border: 1px solid rgba(0,0,0,.1);
    &.thumb_caption{
      opacity: 0;
    }
  }
  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0;
  }
}
figure:hover figcaption {
  opacity: 1;
}
//画像（再生ボタン）の縦横中央寄せ
figcaption {
  display:table-cell;
  text-align:center;
  vertical-align:middle;
}
.play-trigger {
  position: absolute;
  display: block;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

//再生ボタンホバー時に拡大
.play-trigger{
  transition: all 0.2s linear; //開く速さ

  //再生ボタンのデフォルトカラー
  fill: white;
  stroke: white;
}
.play-trigger:hover {
  -webkit-transform: scale(2.4);
  -moz-transform: scale(2.4);
  -o-transform: scale(2.4);
  -ms-transform: scale(2.4);
  transform: scale(1.3); //拡大倍率
  z-index: 9999;

  //再生ボタンのホバー時のカラー
  fill: green;
  stroke: green;
}
