#ticket_modal{
  .modal-content{
    border-radius: 0;
    border-top: 3px solid #38c322;
    .modal-header{
      border:none;
    }
    .modal-body{
      text-align: center;
      h2{
        color: #38c322;
      }
    }
    .modal-footer{
      border: none;
      text-align: center;
      .btn_green{
        border-radius: 0px;
        border: none;
        background-color: #38c322;
      }
    }
  }
}
#login_modal{
  .modal-content{
    border-radius: 0;
    border-top: 3px solid #38c322;
    .modal-header{
      border:none;
    }
    .modal-body{
      display: flex;
      justify-content: center;
      .content{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }
    }
    .modal-footer{
      border:none;
      .modal_btn_wrapper{
        display: flex;
        justify-content: center;
        button{
          border-radius: 0px;
          border: none;
          &.gray{background-color: #1d2f4f;}
          &.green{background-color: #38c322;}
        }
      }
    }
  }
}
