.my_info_container{
  margin-top: 40px;
  margin-bottom: 40px;
  .my_image{
    width:  165px;
    height: 165px;
    border-radius: 50%;
  }
  .my_info{
    color: #969696;
    padding-left: 0px;
  }
}
