.title_bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  h3{
    margin: 0;
  }
  a{
    button,button:hover,button:focus{
    color: #999;
    background-color:white;
    border-radius: 18px;
    border: 1px solid #d0d0d0;
    }
  }
}
.midline{margin-top:50px;}
