%nav.drawer-nav{:role => "navigation"}
  %ul.drawer-menu
    .title
      %h5 プレイリスト選択
      = link_to 'javascript:void(0)',id:"drawer-close" do
        = embedded_svg("close.svg")
    %hr.line
    //実際はcurrent_user.playlistsを回す
    - (1..3).each do |playlist|
      = render "playlists/link",playlist:playlist
