.thumb
  %figure
    = link_to "#" do
      - if playlist.songs.count != 0
        =image_tag(playlist.songs[0].album.album_image.url,class:"thumb_image")
        %figcaption
          = image_tag(playlist.songs[0].album.album_image.url,class:"thumb_image thumb_caption")
      - else
        =image_tag("playlist_default.png",class:"thumb_image")
        %figcaption
          = image_tag("playlist_default.png",class:"thumb_image thumb_caption")
  %h6= link_to playlist.name, "#"
  - if playlist.private?
    %h6.gray 自分のみ
  - else
    %h6.gray 公開
