//プレイリストモーダルを閉じる
$('.close').click();
//フラッシュがすでにあるなら書き換え。ないならフラッシュ要素を作ってテキストを代入
if($('.alert-info')[0]){
$('.alert-info').text("プレイリスト「#{@playlist.name}」を作成しました。");
}else{
$('[data-pjax-container=""]').before("<div class=alert-info></div>")
$('.alert-info').text("プレイリスト「#{@playlist.name}」を作成しました。");
}
//マイページのマイプレイリストの表示を更新
$('#render_playlists_for_mypage').html("#{ j(render @myplaylists ) }");
