//ユーザーページに移動
var url = '/users/' + "#{current_user.id}";
var a = $("<a></a>",{href: url,"id": "tmp_a"});
$('body').prepend(a);
$('#tmp_a').click();
$('#tmp_a').remove();
//モーダルのオーバーレイの削除
$('.modal-backdrop').remove();
